.aboutCompanyContainer {
  width: 1252px;
  margin: 0px auto;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px 0px;
  display: flex;
}
.abtcontent1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.3px;
  text-align: left;
  color: #002699;
}

.abtcontent2, .subText2 {
  font-size: 52px;
  font-weight: 700;
  line-height: 63px;
  text-align: left;
  color: #010101;
}

.content2Blue {
  font-size: 52px;
  font-weight: 700;
  line-height: 77.76px;
  text-align: left;
  color: #002699;
}

.extraContent1,
.extraContent2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #696969;
  padding-bottom: 10px;
}

.extraContent {
  padding: 48px 44px 48px 44px;
  border-radius: 12px;
  box-shadow: 8px 8px 64px 0px #0000000d;
  background: rgba(255, 255, 255, 0.95);
  width: 600px;
  position: relative;
  right: 22%;
  margin-top: 12px;
}

.aboutContent {
  padding-left: 50px;
}

.topContentDiff{
  padding-left: 42px;
}

.topContentDiffAbtUs{
  padding-left: 0px;

}

.learnMore {
  width: fit-content;
  padding: 16px 28px 16px 28px;
  border-radius: 62px;
  background: #002699;
  display: flex;
  align-items: center;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

.whiteArrow {
  width: 14px;
  height: 14px;
  padding-left: 10px;
}

.extraHeader {
  font-size: 32px;
  font-weight: 500;
  line-height: 38.88px;
  text-align: left;
  color: #010101;
  padding-bottom: 24px;
}

.aboutCompanyImage{
  width: 1252px;
}