.caseStudiesContainer{
    padding: 40px 0px;
    text-align: center;
}

.caseSudiesSection{
    display: flex;
    align-items: center;
    padding: 60px 0px;
    gap: 16px;
    justify-content: center;
}

.balanceImage{
    cursor: pointer;
}