.mayContainer {
  padding: 16px;
  text-align: center;
  max-width: 1300px;
  padding-top: 130px;
  margin: 0px auto;
  padding-bottom: 0px;
}
.semiCircledev1 {
  width: 464px;
  height: 464px;
  top: 450px;
  left: -180px;
  background: rgba(0, 38, 153, 0.1);
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(rgba(0, 38, 153, 0.1), transparent);
  filter: blur(10px);
}
.lhs {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.dev1Head {
  font-size: 32px;
  font-weight: 600;
  line-height: 38.88px;
  text-align: left;
  color: rgba(0, 38, 153, 1);
}
.kcText {
  font-size: 56px;
  font-weight: 600;
  line-height: 68.04px;
  letter-spacing: -0.23999999463558197px;
  text-align: left;
  color: #000000;
  padding-bottom: 10px;
}
.kcSubText {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: -0.23999999463558197px;
  text-align: left;
  color: #505050;
  padding: 16px 0px 32px 0px;
}
.growthImage {
  width: 561px;
  height: 62px;
}
.kcCon1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.kcCon3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 40px;
}
.devops1-1 {
  width: 558px;
  height: 279px;
}

.kcHeaddev1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 58.32px;
  text-align: center;
  color: #000000;
}
.devHighCol {
  color: rgba(0, 38, 153, 1);
}
.kcText1 {
  font-family: Cabin;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  padding-top: 28px;
}
.kcHead2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 58.32px;
  text-align: left;
  padding-top: 64px;
}
.kcText2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
.kcTextn {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  padding-top: 20px;
}
.kcText3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin: 0px auto;
}
.kcTextn {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin: 0px auto;
}
.devops1-2 {
  width: 500px;
  height: 500px;
}
.devops1-3 {
  width: 553px;
  height: 553px;
}
.devops1-4 {
  width: 500px;
  height: 500px;
}

.devops1-5 {
  width: 1300px;
  height: 757px;
}

.custom-list {
  padding-left: 10px;
}
.lhs2 {
  display: flex;
  flex-direction: column;
}
.kcHead6 {
  font-size: 48px;
  font-weight: 600;
  line-height: 58.32px;
  text-align: center;
  color: #000000;
}
.green-tick {
  width: 24px;
  height: 24px;
  padding-right: 10px;
}
.sectionItem {
  padding-bottom: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #000000;
  display: flex;
  align-items: flex-start;
}
.kcText4 {
  padding-top: 24px;
  margin: 0px auto;
  padding-bottom: 24px;
}

li {
  padding-bottom: 12px;
}
.sub6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #000000;
  padding-top: 28px;
}
.ques {
  padding-top: 28px;
}
.malayStats {
  width: 372px;
  height: 91px;
  padding-top: 72px;
}
.dev1Stats {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.dev1Mid {
  border: 1px solid rgba(174, 174, 174, 1);
  height: 62px;
}
.dev1Percent {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.88px;
  text-align: left;
  color: rgba(0, 38, 153, 1);
  padding-bottom: 10px;
}
.dev1Text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: rgba(117, 117, 117, 1);
}
.dev1Rhs {
  padding-left: 36px;
}
.dev1Lhs {
  padding-right: 36px;
}
.kcHeaddev {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: #010101;
  padding: 28px 0px 20px 0px;
}
.dev1Last {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
