.MainHeaderContainer {
  background-image: url("../../assets/mainHeader.png");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.content1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 34.02px;
  color: #fff;
}

.content2 {
  font-size: 68px;
  font-weight: 700;
  line-height: 76px;
  padding-top: 12px;
  padding-bottom: 20px;
  color: #fff;
}

.content3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 16px;
  color: #fff;
}

.getTouch {
  padding: 16px 28px;
  border-radius: 62px;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.44px;
  color: #002699;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}

.anyQuery {
  border: 1px solid #aeaeae;
  padding: 18px 28px;
  border-radius: 63px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.44px;
  color: #fff;
  margin-left: 16px;
  cursor: pointer;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 44px;
}

.arrow {
  width: 14px;
  height: 14px;
  padding-left: 10px;
}

.content2-5 {
  font-size: 28px;
  font-weight: 500;
  line-height: 34.02px;
  text-align: center;
  padding-bottom: 16px;
}
