.headerImage {
  bottom: 70px;
  position: relative;
  width: -webkit-fill-available;
  z-index: -1;
  height: 950px;
}

.headerContent {
  position: relative;
    bottom: 750px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* left: 14%; */
}
.headerContentWrapper{
  /* margin-left: 24%; */
}

.content1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 34.02px;
  text-align: left;
  color: #fff;
}

.content2 {
  font-size: 82px;
  font-weight: 700;
  line-height: 96px;
  text-align: center;
  color: #fff;
  padding: 12px 0px;
}

.content3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #fff;
  padding-top: 16px;
}

.getTouch {
  padding: 16px 28px 16px 28px;
  border-radius: 62px;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.44px;
  color: #002699;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.anyQuery {
  border: 1px solid #aeaeae;
  padding: 18px 28px 18px 28px;
  border-radius: 63px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.44px;
  color: #fff;
  width: fit-content;
  margin-left: 16px;
  cursor: pointer;
}

.buttonsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 44px;
}

.arrow{
    width: 14px;
    height: 14px;
    padding-left: 10px;
}