.kcContainer {
  padding: 16px;
  text-align: center;
}
.image-padding {
  padding-left: 66px;
  max-width: 1440px;
  padding-bottom: 24px;
}
.image {
  max-width: 1440px;
}

.semiCircle {
  width: 464px;
  height: 464px;
  top: 450px;
  left: -180px;
  background: rgba(100, 193, 164, 0.15);
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(rgba(100, 193, 164, 0.15), transparent);
  filter: blur(10px);
}
