.clientsListContiner {
  background-color: #fff;
  padding: 0px;
  padding: 30px 0px;
  text-align: center;
}
.clients {
  height: 560px;
  width: -webkit-fill-available;
}

.clientsListHeading {
  font-size: 52px;
  font-weight: 600;
  line-height: 63px;
  text-align: center;
  color: black;
}

.diffText {
  font-size: 52px;
  font-weight: 600;
  line-height: 63px;
  text-align: center;
  color: #002699;
}

.clientsSubtext {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #696969;
  padding: 24px 0px 16px 0px;
}

.clientsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1000px;
  height: 676px;
  margin: 0px auto;
  padding-bottom: 60px;
}

.clientItem {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.clientItem:nth-child(4n) {
  border-right: none;
}

.clientItem:nth-last-child(-n + 4) {
  border-bottom: none;
}

.clientItem img {
  width: 147px;
  height: 82px;
}
